.header {
  width: 1600px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0 auto;

  &__nav {
    color: $--body-font-color;

    &--underline::after {
      content: "";
      left: 0px;
      width: 53px;
      height: 4px;
      transform: translateY(46px);
      background-color: $--blue-text;
      border-radius: 2px;
      position: absolute;
    }
  }

  &__link {
    display: block;
    transition-property: color, fill, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

    &:visited {
      color: $--body-font-color;
    }

    &:hover,
    &:focus {
      color: $--blue-text;
      opacity: 100%;
      fill: currentColor;
    }
  }

  &__list {
    display: flex;
    gap: 46px;
    width: 254px;
    margin: 0px;
    margin-left: 93px;
    margin-right: 371px;
    padding: 0px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.14;
    text-decoration: none;
    color: $--body-font-color;
  }

  &__logo {
    font-family: "raleway", sans-serif;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.19;
    color: $--body-font-color;
    text-decoration: none;
    margin-left: 215px;

    &--blue {
      color: $--blue-text;
    }
  }

  &__item {
    color: $--gray-text;
    fill: currentColor;
    font-weight: 400;
    font-size: 0.875rem;
    height: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__listItem {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }

  &__contacts {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &__image {
    margin-right: 15px;
    display:none;
  }
}

@media screen and (max-width: 480px) {
  .header {
    width: 480px;
    height: 60px;
    justify-content: space-between;
    &__contacts{
      display:none;
    }
    &__nav {
      display:none;
    }
    &__logo {
      margin-left: 15px;
    }
    &__image {
      margin-right: 15px;
      display:block;
    }
  }
}