.teamPros {
  width: 100%;
  height: 251px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  &__item {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__optimizer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__companies {
    height: 120px;
    width: 270px;
    background-color: $--crue-gallery-color;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    padding: 0px;
    display: flex;
    gap: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 0.875rem;
    color: $--body-font-color;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.71;
    color: $--gray-text;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .teamPros {
    height: 994px;

    &__list {
      flex-direction: column;
    }

    &__optimizer {
      align-items: center;
    }

    &__item {
      width: 450px;
    }

    &__companies {
      width: 450px;
    }
  }
}
