* {
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: "roboto", serif;
  color: $--body-font-color;
}

.line {
  width: auto;
  height: 0px;
  border: 1px solid $--line-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
